body {
    background-color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

div.body {
    display: flex;
    flex-direction: row;
    align-items: start;
}

div.toc {
    position: sticky;
    top: 128px;
    margin-right: 32px;
}

@media (max-width: 1599px) {
    div.toc {
        display: none;
    }
}

div.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.item {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-bottom: 64x;
}

h2.title {
    display: flex;
    align-items: center;
    font-size: x-large;
}

img.icon {
    width: 64px;
    height: 64px;
    margin-right: 16px;
}

div.separator::after {
    content: '/';
    margin-left: 64px;
    margin-right: 64px;
}

div.images {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

img.image {
    width: 640px;
    height: 400px;
}

div.desc pre {
    font-size: large;
    white-space: pre-wrap;
}

@media (max-width: 1343px) {
    div.item {
        width: 960px;
    }

    img.image {
        width: 480px;
        height: 300px;
    }
}

@media (max-width: 1023px) {
    div.item {
        width: 640px;
    }

    img.image {
        width: 320px;
        height: 200px;
    }
}

div.footer {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: black;
}