body {
    background-color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

div.item {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-bottom: 128px;
}

h2.title {
    display: flex;
    align-items: center;
    font-size: x-large;
}

img.icon {
    width: 64px;
    height: 64px;
    margin-right: 16px;
}

div.separator::after {
    content: '/';
    margin-left: 64px;
    margin-right: 64px;
}

div.images {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

img.image {
    width: 640px;
    height: 400px;
}

div.footer {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: black;
}